%{ 
pName = 'object.' + _name + '.' + play.modules.siena.SienaModelUtils.keyName(_field.property.relationType) 

if(_caller.currentObject)
	keyVal = play.modules.siena.SienaModelUtils.keyValue(_caller.currentObject)
}%

#{field 'object.' + _name}
    <label for="${field.id}">
        &{_name}
    </label>
	<style type="text/css">
	.&{_name}-list .&{_name} {
	    cursor: pointer;
	    padding: 1px 4px;
	}
	.&{_name}-list .selected {
	    background: #222;
	    color: #fff;
	}
	</style>
        #{script 'jquery.autocomplete.js' /}
        #{script 'jquery.bgiframe.min.js' /}
        #{stylesheet 'autocomplete.css' /}
	<script type="text/javascript">
	var toggle&{_name} = function(&{_name}El) {
	    var input = document.getElementById('h'+&{_name}El.id);
	    if(&{_name}El.className.indexOf('selected') > -1) {
		&{_name}El.className = '&{_name}';
		input.value = '';
	    } else {
		&{_name}El.className = '&{_name} selected';
		input.value = &{_name}El.id;
	    }
	}
        
        function findValue(li) {
            if( li == null ) return alert("No match!");

            // if coming from an AJAX call, let's use the CityId as the value
            if( !!li.extra ) var sValue = li.extra[0];

            // otherwise, let's just display the value in the text box
            else var sValue = li.selectValue;
            $("#&{_name}-items").append('<span id="'+li.extra[0]+'" onclick="toggle&{_name}(this)" class="">'+li.selectValue+'</span><input id="h'+li.extra[0]+'" type="hidden" name="${field.name}@id" value="" />');
        }

        function selectItem(li) {
            findValue(li);
        }

        function formatItem(row) {
            return row[0];
        }

        function lookupAjax(){
            var oSuggest = $("#&{_name}-auto")[0].autocompleter;
            oSuggest.findValue();
            return false;
        }
        
        $().ready(function() {
            $("#&{_name}-auto").autocomplete('@{autocomplete()}', {
                    delay:10,
                    minChars:2,
                    matchSubset:1,
                    matchContains:1,
                    cacheLength:10,
                    onItemSelect:selectItem,
                    onFindValue:findValue,
                    formatItem:formatItem,
                    autoFill:true,
                    extraParams:{"oType":"&{_field.relation}"}
            });
        });
	</script>
    #{if _field.multiple}
        <input type="hidden" name="${pName}" value="" />
        <select id="${field.id}-auto" name="${pName}" multiple="yes" #{if !keyVal}disabled="true"#{/if}>
            %{ _field.choices.each() { }%
            %{
                selected = false;
                if(field.error?.message != 'validation.required') {
                    if(params[pName]) {
                        selected = params.getAll(${pName}).contains(play.modules.siena.SienaModelUtils.keyValue(it).toString())
                    } else {
                    	if(keyVal){
	                        for (it2 in _value?.fetch()) {
	                            if(play.modules.siena.SienaModelUtils.keyValue(it2) == play.modules.siena.SienaModelUtils.keyValue(it)) {
	                                selected = true;
	                            }
	                        }
	                    }
                    }
                }
            }%
            <option value="${play.modules.siena.SienaModelUtils.keyValue(it)}" ${selected ? 'selected="true"'.raw() : ''}>${it}#{if play.modules.siena.SienaModelUtils.keyValue(it) == _id } (me)#{/if}</option>
            %{ } }%
        </select>
        
        #{if !keyVal}
    	<span class="error">Please save it once before selecting &{_name}</span>
    	#{/if}
    #{/if}
    #{else}
        <select id="${field.id}" name="${pName}">
            #{ifnot _field.required}
                <option value="">&{'crud.none'}</option>
            #{/ifnot}
            #{else}
                <option value="">&{'crud.selectValue'}</option>
            #{/else}
            %{ _field.choices.each() { }%
            %{
                selected = false
                if(field.error?.message != 'validation.required') {
                    if(params[pName]) {
                        selected = (play.modules.siena.SienaModelUtils.keyValue(it).toString() == params[pName])
                    } else {
                        selected = play.modules.siena.SienaModelUtils.keyValue(it) == play.modules.siena.SienaModelUtils.keyValue(_value)
                    }
                }
            }%
            <option value="${play.modules.siena.SienaModelUtils.keyValue(it)}" ${selected ? 'selected="true"'.raw() : ''}>${it}#{if play.modules.siena.SienaModelUtils.keyValue(it) == _id } (me)#{/if}</option>
            %{ } }%
        </select>
    #{/else}

    #{ifError field.name}
        <span class="error">${field.error.raw()}</span>
    #{/ifError}
    
#{/field}
